body {
    height: 100%;
}

header {
    display: block;
    white-space: nowrap;

    menu {
        display: flex;
        height: 100vh;
        flex-direction: column;
        margin: 0;
        padding: 0;

        li {
            display: block;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        li:nth-last-child(3) {
            flex: 1; /* Push Settings & Help to the bottom */
        }
    }
}

.win-splitview-pane-closed .win-splitviewcommand-label {
    /* Make sure pane content doesn't scroll */
    /* if SplitViewCommand label receives focus while pane is closed. */
    visibility: hidden;
}

#help {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 350px;
    padding: 40px;
    box-sizing: border-box;
    overflow: auto;
    font-family: Arial;

    pre {
        margin: 0.5em 0;
        &:after {
            content: attr(data-result);
            color: grey;
        }
    }
}
